<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        
        <div class="banner">
          <ul class="nav justify-content-center">
            <li class="nav-item"><a  class="nav-link" routerLink="/aboutus">About</a></li>
            <li class="nav-item"><a href="https://linktr.ee/aniruddhtiwari" target="_blank" class="nav-link">Creator</a></li>
            <li class="nav-item">
              <a href="#" class="nav-link">All Reviews</a>
            </li>
            
          </ul>
        </div>
        <p class="mb-2 mt-2 bottom-text">
          Vinyl Vue © <br />Designed And Developed by Aniruddh Tiwari
        </p>
        <p class="mb-2 mt-2 bottom-text">
          Logo Designed by <a href="https://www.linkedin.com/in/tanishaj-in/" target="_blank">Tanisha J</a>
        </p>
      </div>
    </div>
  </div>
</footer>
